body {
    background: linear-gradient(145deg, #000000, #8f8f8f);
    background-attachment: fixed;
}

header {
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

td {
    border: 1px solid white;

}

#buttons {
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    width: 50%;
}

#playComputer, #playFriend {
    color: white;
    font-size: 15px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    border-radius: 20px;
    word-wrap: break-word;
}

#gameTable {
    border: 3px solid white;
    height: 500px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    word-wrap: break-word;
}

#playComputer:hover, #playFriend:hover {
    color: #42ffad;
    border-color: #42ffad;
}


